{% extends 'base.html' %}

{% block title %}Create Your Own TTRPG{% endblock %}

{% block content %}

<main class="home-page">
    <h1 class="home-title">StatForge</h1>

    {% if request.user.is_authenticated %}
        <a class='button' href="{% url 'rpg_create' %}">Create New RPG</a>
    {% else %}
        <a class='button' href="{% url 'login' %}">Create New RPG</a>
    {% endif %}

    {% for rpg in rpgs %}
        <a href="/rpgs/{{rpg.pk}}">
            <div class="rpg">
                <div class="rpg-header">
                    <p class="rpg-header-title">{{rpg.title}}</p>
                </div>
                <div class="rpg-creator">
                    <p class="rpg-creator-p">Created by {{rpg.user.username}}</p>
                </div>
                <div class="rpg-description">
                    <p class="rpg-description-p">Description:</p>
                    <p class="rpg-description-p">{{rpg.description}}</p>
                </div>
            </div>
        </a>
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No RPGs Available</p>
            </div>
        </article>
    {% endfor %}
</main>

{% endblock %}