{% extends 'base.html' %}

{% block title %}Create New {{rpg.stats_name}}{% endblock %}

{% block content %}

<div class="stat_create format">
    <h1>Create New {{rpg.stats_name}}</h1>
    <form method="post">
        {% csrf_token %} {{form.as_p}} <input class="button" type="submit" value="Submit" />
    </form>
</div>

{% if rpg.stats.all %}
    <div class="created_stats format">
        <h2>Created {{rpg.stats_name}}</h2>
        
        {% for stat in rpg.stats.all %}
        <div class="item">
            <div>
                <h3>{{stat.title}}</h3>
                <p>{{stat.description}}</p>
                <h3>Max Value: {{stat.max_value}}</h3>
            </div>
        </div>
        {% endfor %}

        <a href="{% url 'rpg_detail' rpg.pk %}"><button type="button">Done</button></a>
    </div>
{% endif %}

{% endblock %}